---
// const { pathname } = Astro.url;

// const navItems = [
//   { match: `${import.meta.env.BASE_URL}/`, label: 'LensQL', href: `${import.meta.env.BASE_URL}` },
//   { match: `${import.meta.env.BASE_URL}/installation`, label: 'Installation', href: `${import.meta.env.BASE_URL}/installation` },
// ];

---

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href={`${import.meta.env.BASE_URL}/`}>LensQL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <slot></slot>
        </div>
    </div>
</nav>


<style>
    nav button {
        margin-right: 0.5rem;
    }

    nav {
        border-bottom: 1px solid gray;
    }
</style>
